/**
*   (c) TuzK1ss 2014 - 2015
*        Tuzkiss Home 
*/


html, body {
	height: 100%;
	background: #e1e1e1;
	font-family: 'Open Sans', sans-serif;
	font-size:62.5%;
}

section {
	width: 270px;
	height: 270px;
	position: absolute;

	left: 50%;
	top: 50%;

	margin-top: -135px;
	margin-left: -135px;
	z-index: 10;
}


header {
	width: 100%;
	height: 70px;
	text-align: center;

}
header h1 {
	font-size: 3rem;
	color: #3498db;
}

nav {
	width: 180px;
	text-align: left;
	margin: 0 auto;
}

ul {
	width: 100%;

}

ul li {
	height: 40px;
	text-align: center;
}

a {
	color: #2c3e50;
	font-size: 2rem;
	text-decoration: none;


}

a > i {
	margin: 0 5px;
}

footer {
	margin-top: 20px;
	width: 170px;
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
	font-size: 1.4rem;
	text-align: center;

	text-indent: -9999px;
}

canvas {
	position: absolute;
	z-index: 0;
}
