/**
*   (c) TuzK1ss 2014 - 2015
*        Tuzkiss Home 
*/

@font-face {
	font-family:Myriad;
	src:url(../font/MyriadSetPro-Thin.ttf);
}
html, body {
	background: #e1e1e1;
	font-family: Myriad, 'Helvetica', 'Verdana' ;
}

header, section, footer {
	width: 1000px;
	margin:0 auto;
	position: relative;
}

header {
	margin-top:-10px;
	height:200px;
	
}

.user {
	width: 200px;
	height: 200px;
	background: url(../images/logo.jpg);
	background-size: cover;
	z-index: 10;
	position: absolute;
}

.user-bg {
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
	z-index: 1;
	background: url(../images/user-bg.jpg) no-repeat;

	background-size: 100% 100%;
}

section {
	overflow: hidden;
	*zoom:1;
	background: #22292c;
}

aside {
	width: 100px;
	height: 100%;
	float: left;
	z-index: 10;
}

nav {
	width: 100%;
	height: 100%;
}

nav > ul {
	width: 100%;
}
nav > ul > li {
	height: 40px;
	text-align: center;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	margin-top: -1px;
	line-height: 40px;
}
li a {
	display: block;
	width: 100%;
	height: 100%;
	color:#fff;
}
li:hover a {
	text-decoration: none;
}
.active, li:hover {
	background:#2f87c0;
}

.main{
	float: left;
	width: 900px;
	background: #fff;
}
.info {
	width: 100%;
	height: 81px;
	background: #fff;
}
.gallery {
	width: 100%;
	height: 120px;
	background: #eee;
}


footer {
	margin-top: 20px;
	text-align: center;
}




/* batman css */
.batman-panel{
	width: 150px;
	height: 70px;
	margin:20px auto;
	
}
.batman{
	width: 100%;
	height: 100%;
	background: #22292c;
	position: relative;
	overflow: hidden;
	z-index: 1;
	opacity: 0.6;
}
.batman > div{
	position: absolute;
	display: block;
	background: #e1e1e1;
	border: 0px;
	z-index: 10;

}
.batman > .head1, .batman > .footer{
	width: 100%;
	height: 8px;
}
.batman > .head1{
	top: -1px;
}
.batman > .footer{
	bottom: -1px;
}
.batman > .head2{
	width: 15px;
	height: 15px;
	left: 55px;
	border-radius: 0 0 6px 21px / 15px;
}
.batman > .head3{
	width: 15px;
	height: 15px;
	left: 80px;
	border-radius: 0 0  21px 6px / 15px;
}
.batman > .head4{
	width: 10px;
	height: 10px;
	left: 70px;
}
.batman > .head4:before{
	content: '';
	width: 3px;
	height: 3px;
	position: absolute;
	background: #444;
	left: 0px;
	top: 7px;
	border-top-right-radius: 3px;

}
.batman > .head4:after{
	content: '';
	width: 3px;
	height: 3px;
	position: absolute;
	background: #444;
	left: 7px;
	top: 7px;
	border-top-left-radius: 3px;
}
.batman > .wing1, .batman > .wing3{
	width: 32px;
	height: 31px;
	top: 8px;
	bottom: -1px
}
.batman > .wing1{
	left: -1px;

	border-radius:  0 30px 0 0 ;
}
.batman > .wing3{
	right: -1px;
	border-radius:  30px 0 0 0;

}
.batman > .wing2{
	width: 85px;
	height: 28px;
	top: 38px;
	left: -10px;
	border-top-right-radius: 28px;
}

.batman > .wing4{
	width: 85px;
	height: 28px;
	top: 38px;
	right: -10px;
	border-top-left-radius: 28px;
}