/**
*   (c) TuzK1ss 2014 - 2015
*        Tuzkiss Home 
*/

@font-face {
	font-family:Myriad;
	src:url(../font/MyriadSetPro-Thin.ttf);
}
html, body {
	background: #e1e1e1;
	font-family: Myriad, 'Helvetica', 'Verdana' ;
}

header, section, footer {
	width: 1000px;
	margin:0 auto;
	position: relative;
}

header {
	margin-top:-10px;
	height:200px;
	
}

.user {
	width: 200px;
	height: 200px;
	background: url(../images/tuzkiss_logo.jpg);
	background-size: cover;
	z-index: 10;
	position: absolute;
}

.user-bg {
	width: 800px;
	height: 200px;
	left: 200px;
	position: absolute;
	z-index: 10;

	background: url('../images/bg.jpg') 0px -250px  no-repeat;
	
}

.user-bg > div {
	width: 100%;
	height: 100%;
	position: absolute;
}
.bg1 {
	z-index: 30;
	background: url('../images/bg.jpg') 0px -250px  no-repeat;
	
	-webkit-animation: movebg1 50s infinite linear;
	-o-animation: movebg1  50s infinite linear;
	animation: movebg1  50s infinite linear;
}
.bg2{
	z-index: 29;

	background: url('../images/bg2.jpg') 0px -250px  no-repeat;
	
	-webkit-animation: movebg2 50s infinite linear;
	-o-animation: movebg2  50s infinite linear;
	animation: movebg2  50s infinite linear;

	-webkit-animation-delay: 25s;
	-o-animation-delay: 25s;
	animation-delay: 25s;
}

section {
	overflow: hidden;
	*zoom:1;
	background: #22292c;
}

aside {
	width: 100px;
	height: 100%;
	float: left;
	z-index: 10;
}

nav {
	width: 100%;
	height: 100%;
}

nav > ul {
	width: 100%;
}
nav > ul > li {
	height: 40px;
	text-align: center;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	margin-top: -1px;
	line-height: 40px;

	-webkit-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
li a {
	display: block;
	width: 100%;
	height: 100%;
	color:#fff;
}
li:hover a {
	text-decoration: none;
}
.active, nav > li:hover {
	background:#2f87c0;
}

.row {
	width: 100%;
	height: 25px;
	font-size: 15px;
	text-indent: 3em;
	line-height: 20px;
	padding: 10px 0;
	background: #fff;
}

.row-title {

}

.main{
	float: left;
	width: 900px;
	min-height: 500px;
	background: #fff;
}
.info {
	width: 100%;
	height: 81px;
	background: #fff;
}
.gallery {
	width: 100%;
	height: 120px;
	background: #eee;
}


footer {
	margin-top: 20px;
	text-align: center;
}

.panel {
	width: 100%;
	height: 100%;
	background: #69a;
}

.active-panel {
	-webkit-animation: fadeIn 0.6s ;
	-o-animation: fadeIn 0.6s ;
	animation: fadeIn 0.6s ;
}

.hidden {
	display: none;
}

.box-shadow {
	width: 1000px;
	margin: 0 auto;
	-webkit-box-shadow:  0 3px 6px rgba(0, 0, 0, 0.5);
	box-shadow:  0 3px 6px rgba(0, 0, 0, 0.5);
	position: relative;
}
.box-shadow:before, .box-shadow:after{
	content: '';
	position: absolute;
	top: 350px;
	bottom: -1px;
	left: 10px;
	right: 10px;
	z-index:-1;
	border-radius: 100px / 10px;

	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* batman css */
.batman-panel{
	width: 150px;
	height: 70px;
	margin:20px auto;

	-webkit-transform: scale(0.7,0.7);
	-ms-transform: scale(0.7,0.7);
	-o-transform: scale(0.7,0.7);
	transform: scale(0.7,0.7);
	
}
.batman{
	width: 100%;
	height: 100%;
	background: #22292c;
	position: relative;
	overflow: hidden;
	z-index: 1;
	opacity: 0.6;


}


.batman > div{
	position: absolute;
	display: block;
	background: #e1e1e1;
	border: 0px;
	z-index: 10;

}
.batman > .head1, .batman > .footer{
	width: 101%;
	height: 8px;
}
.batman > .head1{
	top: -1px;
}
.batman > .footer{
	bottom: -1px;
}
.batman > .head2{
	width: 15px;
	height: 15px;
	left: 55px;
	border-radius: 0 0 6px 21px / 15px;
}
.batman > .head3{
	width: 15px;
	height: 15px;
	left: 80px;
	border-radius: 0 0  21px 6px / 15px;
}
.batman > .head4{
	width: 10px;
	height: 10px;
	left: 70px;
}
.batman > .head4:before{
	content: '';
	width: 3px;
	height: 3px;
	position: absolute;
	background: #444;
	left: 0px;
	top: 8px;
	border-top-right-radius: 3px;
}
.batman > .head4:after{
	content: '';
	width: 3px;
	height: 3px;
	position: absolute;
	background: #444;
	left: 7px;
	top: 8px;
	border-top-left-radius: 3px;
}
.batman > .wing1, .batman > .wing3{
	width: 32px;
	height: 31px;
	top: 8px;
	bottom: -1px
}
.batman > .wing1{
	left: -1px;

	border-radius:  0 30px 0 0 ;
}
.batman > .wing3{
	right: -1px;
	border-radius:  30px 0 0 0;

}
.batman > .wing2{
	width: 85px;
	height: 28px;
	top: 38px;
	left: -10px;
	border-top-right-radius: 28px;
}

.batman > .wing4{
	width: 85px;
	height: 28px;
	top: 38px;
	right: -10px;
	border-top-left-radius: 28px;
}

.batman:hover {
	-webkit-animation: batmanChange 4s infinite linear;
	-moz-animation: batmanChange 4s infinite linear;
	-o-animation: batmanChange 4s infinite linear;
	animation: batmanChange 4s infinite linear;
}

/* movebg1 */

@-webkit-keyframes movebg1 {	
	0% {
		background-position: 0 -250px;
		opacity: 1;
	}
	45%, 50% {
		background-position: 0 -500px;
		opacity: 1;
	}
	51%, 100% {
		opacity: 0;
	}
}
@-o-keyframes movebg1 {	
	0% {
		background-position: 0 -250px;
		opacity: 1;
	}
	45%, 50% {
		background-position: 0 -500px;
		opacity: 1;
	}
	51%, 100% {
		opacity: 0;
	}
}
@-moz-keyframes movebg1 {	
	0% {
		background-position: 0 -250px;
		opacity: 1;
	}
	45%, 50% {
		background-position: 0 -500px;
		opacity: 1;
	}
	51%, 100% {
		opacity: 0;
	}
}
@keyframes movebg1 {	
	0% {
		background-position: 0 -250px;
		opacity: 1;
	}
	45%, 50% {
		background-position: 0 -500px;
		opacity: 1;
	}
	51%, 100% {
		opacity: 0;
	}

}


/* movebg2 */

@-webkit-keyframes movebg2 {	
	0% {
		background-position: 0 -250px;
		opacity: 1;
	}
	45%, 50% {
		background-position: 0 -500px;
		opacity: 1;
	}
	51%, 100% {
		opacity: 0;
	}
}
@-o-keyframes movebg2 {	
	0% {
		background-position: 0 -250px;
		opacity: 1;
	}
	45%, 50% {
		background-position: 0 -500px;
		opacity: 1;
	}
	51%, 100% {
		opacity: 0;
	}

}
@-moz-keyframes movebg2 {	
	0% {
		background-position: 0 -250px;
		opacity: 1;
	}
	45%, 50% {
		background-position: 0 -500px;
		opacity: 1;
	}
	51%, 100% {
		opacity: 0;
	}
}
@keyframes movebg2 {	
	0% {
		background-position: 0 -250px;
		opacity: 1;
	}
	45%, 50% {
		background-position: 0 -500px;
		opacity: 1;
	}
	51%, 100% {
		opacity: 0;
	}

}

/* fadeIn */

@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity:1; }
}
@-o-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity:1; }
}
@-moz-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity:1; }
}
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity:1; }
}