/* CopyRight Tuzkiss 2014 */

body
{
    background:#444;    
}

.spinner
{
   width:60px;
   height:60px;
   position:relative;
   margin:150px auto;
}

.double1, .double2
{
        width:100%;
        height:100%;
        border-radius:50%;
        background:#eee;
        opacity:0.6;
        top:0;
        left:0;
        position:absolute;
        
        -webkit-animation: bounce 2.0s infinite ease-in-out;
        animation: bounce 2.0s infinite ease-in-out;
}
.double2
{
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
}

@-webkit-keyframes bounce 
{
        0%, 100% { -webkit-transform : scale (0.0)}
        50% { -webkit-transform : scale (1.0) }
}

@keyframes bounce
{
        0%, 100%
        {
                transform: scale (0.0);
                -webkit-transform : scale (0.0);
        }       
        50%
        {
                transform : scale (1.0);
                -webkit-transform : scale (1.0);
        }
        
}


